*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h5{
  font-family: 'Lora', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #232323;
  justify-content: center;
  padding:40px;
}

.row{
margin:30px;
}

/*------BARRA DE NAVEGACIÓN------*/
.navbar-nav{
	width:100%;
}

.navbar-nav li{
	width:16.66%;
	border-left:1px solid #666;
	border-right:1px solid #666;
	text-align:center;
}

/*-----FIN NAVEGACIÓN-----*/

        /*-----NOTICIAS IMPORTANTES-----*/
      .row .col-12 col-md-4 noticias{
        width: 200px;
        height: 200px;
        margin: 21px;
      }
        /*-----FIN IMPORTANTES-----*/

        /*-----ATAJOS-----*/
        .marco-cuadrado{
          width: 150px;
          height: 150px;
          margin:18px;
          border-radius: 150px;
        }

        .marco-cuadrado img{
          width: 100%;
          height:100%;
        }
        /*-----FIN ATAJOS-----*/

        /*------CATEGORIAS-----*/
      .marco-redondo{
        width:150px;
        height:150px;
        margin: 18px;
        border-radius:100px;
        overflow: hidden;
      }

      .marco-redondo img{
        width: 100%;
        height: 100%;
      }
      /*------FIN CATEGORIAS------*/

        /*------FOOTER------*/
        footer {
          padding-top: 50px;
          background-color: #0c3d59;
          min-height: 520px;
          color: #fff;
          background-image: url(/images/general/bg-footer.png);
          background-position: left top;
          background-repeat: no-repeat;
        }

        footer ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-family:'Lora', sans-serif;
        }
        footer ul li a {
          font-family:'Lora', sans-serif;
          font-weight: 300;
          font-style: normal;
          font-size: 14px;
          color: #fff;
          line-height: 28px;
          text-decoration:none;
          padding:40px;
        }
        footer ul li a:hover {
          color: #0fbbd4;
        }
  	  .menu-footer{
  		width: 33%;
  		height: 290px;
  		float: left;
  		padding: 15px 15px 15px 25px;
  		border-right: 1px solid #414141;
  	  }
  	  .menu-footer h5{
  		  color: #81F7F3;
  		  font-size: 14px;
  	  }
  	  footer address{
  		margin-top: 60px;
  		font-family: 'Lora', sans-serif;
  		font-weight: 300;
  		font-style: normal;
  		font-size: 13px;
  		color: #A4A4A4 !important;
      }

      /*------FIN FOOTER------*/
